*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #9ead2e 0%, #c4c4c5 72%, #f0f0f0 100%);
    padding: 10px;
}
.todo-app{
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: 100px auto 50px;
    border-radius: 10px;
    padding: 20px 15px 20px;
    

}
.todo-app h2{
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 40px;
    height: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
}
#addBtn{
    border: none;
    order: none; 
    border-radius: 40px;
    background: orange;
    padding: 16px 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#addBtn:hover{
    background-color: darkorange;
}

#filter-row{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-btn{
    border: none;
    outline: none;
    background-color: green;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}


#list-container li{
    list-style: none;
    padding: 15px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 17px;
}
 #list-container li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    left: 8px;
    top: 12px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;

 }
 #list-container li.checked{
     color: gray;
     text-decoration: line-through;
 }
 #list-container li.checked::before{
    background-image: url(images/checked.png); 
 }
 #list-container li span{
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: burlywood;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
 }
 #list-container li span:hover{
    background-color: darkorange;
 }